.work-order-detail {
  .order-detail-title-bar {
    .order-detail-title {
      justify-content: start;

      .info {
        width: 25%;
        border-right: 1px solid var(--color-border-minor);
        align-items: start;

        .info-status {
          justify-content: space-between;
          align-items: start;

          .info-time {
            justify-content: space-between;
            align-items: center;
            .date {
              margin-top: var(--margin-base);
              color: var(--color-text-minor);
            }
          }

          .info-id {
            max-width: 300px;
            word-wrap: break-word;
            margin-left: var(--font-size-base);
          }
        }
      }

      .title {
        width: 75%;
        margin-left: var(--font-size-base);

        .detail-title {
          line-height: calc(var(--font-size-base) * 1.6);
        }
      }
    }
    .order-detail-info {
      margin-top: var(--font-size-base);
      border-top: 1px solid var(--color-border-minor);
      padding-top: var(--font-size-base);
      justify-content: space-between;

      .info-item {
        width: 33.3%;
        padding-left: var(--font-size-base);

        .item-icon {
          font-size: calc(var(--font-size-base) * 2);
          color: var(--color-blue);
        }

        .msg-data {
          margin-top: calc(var(--margin-base) / 2);
        }
      }
    }

    .order-detail-info .info-item:not(:first-child) {
      border-left: 1px solid var(--color-border-minor);
    }
  }

  .order-detail-action-bar {
    margin: var(--font-size-base) 0;
    justify-content: space-between;
    align-items: center;

    .btn-list :not(:first-child) {
      margin-left: var(--margin-base);
    }
  }

  .order-detail-tab {
    margin-bottom: var(--font-size-base);
    .segmented {
      padding: calc(var(--padding-base) / 2);
      justify-content: center;
      align-items: center;
    }
  }

  .order-detail-content {
  }
}

.work-card-title {
  font-size: 22px;
  color: #1c1c1e;
}
